* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    height: 15vh;
    background-color: white ;
}

nav {
    height: 7vh;
    background-color: aliceblue;
    color: black;
}

main {
    height: 150vh;
    background-color: #dadada;
    font-family: 'Courier New', Courier, monospace;
    font-size: 160%;
    color: blue;
}

footer {
    height: 25vh;
    background-color: black;
    color: white;
    text-align:left;
    text-size-adjust: 160%;
}

a:link, a:visited {
    background-color: black;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: black;
}

style {
    background: url(background\ .jpg) no repeat center fixed;
    background-size: cover;
}

.img-container {
    float: left;
    width: 33.33%;
    padding: 5px;
}

img {
    float: left;
}

h1 {
    color:red;
}

h2 {
    color:blueviolet;
}