* {
    box-sizing: border-box;
}



body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    border: solid 10px black;
}

header {
    height: 20vh;
    background-color: white;
}
nav {
    height: 15vh;
    background-color:whitesmoke;
    color: black;
}

main {
    height: 100vh;
    background-color: rgb(143, 1, 1);
}
footer {
    height: 35vh;
    background-color: black;
    color: white;
}

head  {
    text-align:center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
   text-align: center;
   font-family: 'Courier New', Courier, monospace;
   font-size:160%;
}

a:link, a:visited {
    background-color: rgb(218, 50, 50);
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: red;
}
 
img {
    float: left;
    border: 0px solid black;
    padding-bottom: 20px;
    margin: 0px 20px 10px 10px;
    text-align: center;
}