* {
    box-sizing: border-box;
}



body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    height: 15vh;
    background-color: whitesmoke;
}
nav {
    height: 15vh;
    background-color:whitesmoke;
    color: black;
}

main {
    height: 80vh;
    background-color: #dadada;
}
footer {
    height: 15vh;
    background-color: black;
    color: white;
}

